canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    color:black;
}
p {
    color: white;
}
#directions {
    position: absolute;
    left: 10px;
    top: 50px;
}
#fps {
    position: absolute;
    left: 10px;
    top: 106px;
}
#loading-notification {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 4em;
    margin-left: -150px;
    margin-top: -60px;
}
h1, p, body {
    margin: 0;
}
h1 {
    position: absolute;
    left:10px;
    top:0px;
    color: white;
    z-index:100;
}

html, body { margin:0; padding:0; overflow:hidden; }
svg { position:fixed; top:0; bottom:0; left:0; right:0; height:100%; width:100%; }

#menus {

}

.menu {
    position: absolute;
    background-color: #9b4733;
    color: white;
    border-style: double;
    border-width: 5px;
    border-color: white;
}

.menu-header {
    background-color: #7d3c2b;
}

.menu tr {
    padding: 50px;

}